*{
  padding: 0;
  margin: 0;
}

body{
  background-color: rgb(39,85,111);
  overflow-x: hidden;
  color: white;
}

section{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-bg{
  background: url('./img/6e1cea410afc3f0a5ed9312570c21d98.jpg') no-repeat center center;
  background-size: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 500px;
}

.login-area{
  width: 400px;
}

.submit-btn{
  background-color: rgb(39,85,111);
  color: white;
} 
.submit-btn:hover{
  color: rgba(255, 255, 255, 0.904);
}

.navbar{
  background-color: rgb(233,30,99);
  color: white;
}

.container-fluid > div{
  margin: 2% 3%;
}

.video-row{
  margin: 0 auto;
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}

h1{
  font-size: 1.5rem;
}

.dropdown-toggle{
  font-size: 1.3rem;
}

.card-title{
  font-size: 1rem;
}

.card-img{
  cursor: pointer;
}

.watermark{
  background-color:  rgb(39,85,111);
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  font-size: 0.9rem;
}

@media (max-width: 1500px) {
  .video-row{
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr; 
  } 
}

@media (max-width: 1200px) {
  .video-row{
    display: grid;
    grid-column-gap: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr; 
  } 
}

@media (max-width: 1000px) {
  .video-row{
    display: grid;
    grid-column-gap: 1.5rem;
    grid-template-columns: 1fr 1fr; 
  } 
}

@media (max-width: 600px){
  .video-row{
    grid-template-columns: 1fr; 
  } 
}

@media (max-width: 700px) {
  
.container-fluid > div{
  margin: 2%;
}

.card-title{
  font-size: 0.9rem;
}

}

@media (max-width: 850px){
  .login-area{
    width: 400px;
    margin: 10vh 0;
  }

  section{
    height: auto;
  }

  h1{
    font-size: 1.3rem;
  }
}

@media (max-width: 530px){
  h1{
    font-size: 1.2rem;
  }
  .login-area{
    width: auto;
  }
  .dropdown-toggle{
    font-size: 1rem;
  }
  .card-title{
    font-size: 0.8rem;
  }
  .watermark{
    font-size: 0.7rem;
  }
}